// color variables
$primary-color1: #071d0b;
// $primary-color2: #442B48;
$primary-color2: #ffe26a;
$primary-color3: #ffffff;

// $secondary-color1: #726e60;
$secondary-color1: #16123f;
// $secondary-color2: #c6cedf;
$secondary-color2: #c7ddcc;

// $background-color1: #DBFF76;
// $background-color1: #B6DC76;
$background-color1: #abd699;
$background-color2: #75c9b7;
// $background-color2: #98b06f;

$supporting-color1: #169770;
$supporting-color2: #d14817;

// media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
