// color variables
$primary-color1: #071d0b;
$primary-color2: #ffe26a;
$primary-color3: #ffffff;

$secondary-color1: #16123f;
$secondary-color2: #c7ddcc;

$background-color1: #abd699;
$background-color2: #75c9b7;

$supporting-color1: #169770;
$supporting-color2: #d14817;

// media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
