

.inquiries {

    &__container {
        display: flex;
        justify-content: space-between;
        user-select: none;
    }

    &__form-field {
        display: flex;
        flex-direction: column;
    }

}