@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.header {
  &__container {
    user-select: none;
    max-width: $desktop-breakpoint;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem 1rem 1rem;

    @include tablet {
      padding: 1rem 3rem 1.5rem 3rem;
    }

    @include desktop {
      padding: 1.5rem 8rem 2rem 8rem;
      margin: auto;
    }

  }

  &__logo-link {
    text-decoration: none;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: $primary-color1;
    font-size: 1rem;
  }

  &__title {
    user-select: none;
  }

  &__logo-image {
    height: 3rem;
    width: 3rem;
    user-select: none;
  }

  &__user-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8125rem;
    gap: 0.5rem;
    user-select: none;
  }

  &__user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $primary-color2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__loginout {
    cursor: pointer;
    user-select: none;
    color: $primary-color1;
    background-color: $primary-color2;
    border-radius: 0.75rem;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    font-size: 0.8125rem;
    margin-left: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    

    &:hover {
      text-decoration: underline;
    }

    &:active {
      background-color: rgba($primary-color2, 0.7)
    }

  }
}
