
.footer {

    &__container {
        user-select: none;
        display: flex;
        justify-content: center;
        padding-top: 8rem;
    }

    &__content {
        font-size: 0.7rem;
    }

}