@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup-login {
  &__container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }

  &__modal {
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    border: 1px solid $primary-color3;
    background-color: $background-color1;
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__form-field {
    display: flex;
    flex-direction: column;
  }

  &__form-label{
    font-size: 0.875rem;
  }

  &__form-input {
    font-family: "Figtree";
    border: 1px solid $secondary-color2;
    

    &:focus {
      outline-style: none;
      border: 1px solid $primary-color2;
    }
  }

  &__form-input-phone input {
    @extend .signup-login__form-input;
  }

  &__close-btn {
    align-self: flex-end;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    path,
    circle {
      stroke: $primary-color1;
    }

    &:hover {
      fill: $primary-color2;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__submit-btn{ 
    font-family: "Figtree";
    cursor: pointer;
    user-select: none;
    color: $primary-color1;
    background-color: $primary-color2;
    border-radius: 0.75rem;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    font-size: 0.8125rem;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    margin-top: 1rem;   

    &:hover {
        background-color: rgba($primary-color2, 0.7)
    }
  }

  &__switch-mode {
    cursor: pointer;
    align-self: center;
    font-size: 0.7rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
