table {
  border-spacing: 0;
  border: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    // padding: 0.25rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    :last-child {
      border-right: 0;
    }
  }

  //   thead > tr:first-child > th{
  //     border-right: none;
  //   }

  tbody > tr {
    cursor: pointer;

    &:hover {
      background-color: lavender;
    }
  }
}

// .table {
//     &__header-client-info {
//         border-right: 1px solid black;
//         border-left: 1px solid black;
//       }
// }

.organization {
  &__container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__table {
    margin-right: auto;
  }

  &__ticket-details-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);

    &--visible {
      @extend .organization__ticket-details-container;
      display: flex;
      justify-content: center;
    }
  }

  &__ticket-details-modal {
    width: 500px;
    height: 500px;
    border: 1px solid white;
    background-color: paleturquoise;
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
  }

  &__modal-close-btn {
    align-self: flex-end;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    path,
    circle {
      stroke: red;
    }

    &:hover {
      fill: red;
    }
  }

  &__loading {
    padding: 0rem 4rem 30rem 4rem;
  }

  &__authorize {
    padding: 0rem 4rem 30rem 4rem;
  }
}
